@using MvcStok.Models.Entity;
@model List<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ÜRÜN ID</th>
        <th>ÜRÜN ADI</th>
        <th>ÜRÜN KATEGORİSİ</th>
        <th>MARKA</th>
        <th>FİYAT</th>
        <th>STOK</th>
        
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>

    <tbody>
        @foreach (var urn in Model)
        {
        <tr>
            <td>@urn.URUNID</td>
            <td>@urn.URUNAD</td>
            <td>@urn.TBLKATEGORILER.KATEGORIAD</td>
            <td>@urn.MARKA</td>
            <td>@urn.FIYAT</td>
            <td>@urn.STOK</td>
            

            <td><a href="/Urün/Sil/@urn.URUNID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Urün/UrünGetir/@urn.URUNID" class="btn btn-primary">GÜNCELLE</a></td>

        </tr>
        }
    </tbody>

</table>

<a href="/Urün/UrünEkle/" class="btn btn-success"> ÜRÜN EKLE</a>